.elementor-59 .elementor-element.elementor-element-44a7bdc0 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-59 .elementor-element.elementor-element-26be5de1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-59 .elementor-element.elementor-element-26be5de1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-59 .elementor-element.elementor-element-26be5de1.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-59 .elementor-element.elementor-element-26be5de1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-59 .elementor-element.elementor-element-26be5de1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-59 .elementor-element.elementor-element-26be5de1>.elementor-element-populated,
.elementor-59 .elementor-element.elementor-element-26be5de1>.elementor-element-populated>.elementor-background-overlay,
.elementor-59 .elementor-element.elementor-element-26be5de1>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-59 .elementor-element.elementor-element-26be5de1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 0px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-26be5de1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-59 .elementor-element.elementor-element-26be5de1 .elementor-element-populated a:hover {
    color: var( --e-global-color-primary);
}

.elementor-59 .elementor-element.elementor-element-12e8f0c3 {
    text-align: center;
}

.elementor-59 .elementor-element.elementor-element-12e8f0c3 img {
    border-radius: 20px 20px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-12e8f0c3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-324f4745 img {
    width: 21%;
    transition-duration: 0.5s;
}

.elementor-59 .elementor-element.elementor-element-324f4745>.elementor-widget-container {
    margin: -50px 0px 0px 0px;
    padding: 0px 0px 15px 0px;
}

.elementor-59 .elementor-element.elementor-element-5f25fe9e {
    text-align: center;
}

.elementor-59 .elementor-element.elementor-element-5f25fe9e .elementor-heading-title {
    color: var( --e-global-color-81f5a65);
}

.elementor-59 .elementor-element.elementor-element-5f25fe9e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 05px 0px;
}

.elementor-59 .elementor-element.elementor-element-614e9446 {
    text-align: center;
    color: #222222;
}

.elementor-59 .elementor-element.elementor-element-614e9446>.elementor-widget-container {
    padding: 0px 40px 0px 40px;
}

.elementor-59 .elementor-element.elementor-element-1f65fd8c .elementor-button {
    font-family: var( --e-global-typography-521670e-font-family), Sans-serif;
    font-size: var( --e-global-typography-521670e-font-size);
    font-weight: var( --e-global-typography-521670e-font-weight);
    line-height: var( --e-global-typography-521670e-line-height);
    letter-spacing: var( --e-global-typography-521670e-letter-spacing);
    word-spacing: var( --e-global-typography-521670e-word-spacing);
    fill: #888888;
    color: #888888;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-59 .elementor-element.elementor-element-1f65fd8c .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-1f65fd8c .elementor-button:focus {
    color: var( --e-global-color-primary);
}

.elementor-59 .elementor-element.elementor-element-1f65fd8c .elementor-button:hover svg,
.elementor-59 .elementor-element.elementor-element-1f65fd8c .elementor-button:focus svg {
    fill: var( --e-global-color-primary);
}

.elementor-59 .elementor-element.elementor-element-1f65fd8c>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-5fc37cc:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-59 .elementor-element.elementor-element-5fc37cc>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-59 .elementor-element.elementor-element-5fc37cc>.elementor-element-populated,
.elementor-59 .elementor-element.elementor-element-5fc37cc>.elementor-element-populated>.elementor-background-overlay,
.elementor-59 .elementor-element.elementor-element-5fc37cc>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-59 .elementor-element.elementor-element-5fc37cc>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 0px 0px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-5fc37cc>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-59 .elementor-element.elementor-element-5fc37cc .elementor-element-populated a:hover {
    color: var( --e-global-color-primary);
}

.elementor-59 .elementor-element.elementor-element-acc5e83 {
    text-align: center;
}

.elementor-59 .elementor-element.elementor-element-acc5e83 img {
    border-radius: 20px 20px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-acc5e83>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-6a591cdb img {
    width: 21%;
    transition-duration: 0.5s;
}

.elementor-59 .elementor-element.elementor-element-6a591cdb>.elementor-widget-container {
    margin: -50px 0px 0px 0px;
    padding: 0px 0px 15px 0px;
}

.elementor-59 .elementor-element.elementor-element-39b9c40c {
    text-align: center;
}

.elementor-59 .elementor-element.elementor-element-39b9c40c .elementor-heading-title {
    color: var( --e-global-color-81f5a65);
}

.elementor-59 .elementor-element.elementor-element-39b9c40c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 05px 0px;
}

.elementor-59 .elementor-element.elementor-element-6d9651cd {
    text-align: center;
    color: #222222;
}

.elementor-59 .elementor-element.elementor-element-6d9651cd>.elementor-widget-container {
    padding: 0px 40px 0px 40px;
}

.elementor-59 .elementor-element.elementor-element-4a7e8076 .elementor-button {
    font-family: var( --e-global-typography-521670e-font-family), Sans-serif;
    font-size: var( --e-global-typography-521670e-font-size);
    font-weight: var( --e-global-typography-521670e-font-weight);
    line-height: var( --e-global-typography-521670e-line-height);
    letter-spacing: var( --e-global-typography-521670e-letter-spacing);
    word-spacing: var( --e-global-typography-521670e-word-spacing);
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    background-color: #FFFFFF;
    padding: 0px 0px 25px 0px;
}

.elementor-59 .elementor-element.elementor-element-4a7e8076 .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-4a7e8076 .elementor-button:focus {
    color: var( --e-global-color-831b650);
}

.elementor-59 .elementor-element.elementor-element-4a7e8076 .elementor-button:hover svg,
.elementor-59 .elementor-element.elementor-element-4a7e8076 .elementor-button:focus svg {
    fill: var( --e-global-color-831b650);
}

.elementor-59 .elementor-element.elementor-element-4a7e8076>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-47bb241b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-59 .elementor-element.elementor-element-47bb241b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-59 .elementor-element.elementor-element-47bb241b>.elementor-element-populated,
.elementor-59 .elementor-element.elementor-element-47bb241b>.elementor-element-populated>.elementor-background-overlay,
.elementor-59 .elementor-element.elementor-element-47bb241b>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-59 .elementor-element.elementor-element-47bb241b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px;
    padding: 0px 0px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-47bb241b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-59 .elementor-element.elementor-element-47bb241b .elementor-element-populated a:hover {
    color: var( --e-global-color-primary);
}

.elementor-59 .elementor-element.elementor-element-3d8adf52 {
    text-align: center;
}

.elementor-59 .elementor-element.elementor-element-3d8adf52 img {
    border-radius: 20px 20px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-3d8adf52>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-59 .elementor-element.elementor-element-2f9d41d img {
    width: 21%;
    transition-duration: 0.5s;
}

.elementor-59 .elementor-element.elementor-element-2f9d41d>.elementor-widget-container {
    margin: -50px 0px 0px 0px;
    padding: 0px 0px 15px 0px;
}

.elementor-59 .elementor-element.elementor-element-1adceb22 {
    text-align: center;
}

.elementor-59 .elementor-element.elementor-element-1adceb22 .elementor-heading-title {
    color: var( --e-global-color-81f5a65);
}

.elementor-59 .elementor-element.elementor-element-1adceb22>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 5px 0px;
}

.elementor-59 .elementor-element.elementor-element-71012e46 {
    text-align: center;
    color: #222222;
}

.elementor-59 .elementor-element.elementor-element-71012e46>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 40px 0px 40px;
}

.elementor-59 .elementor-element.elementor-element-768ed2ee .elementor-button {
    font-family: var( --e-global-typography-521670e-font-family), Sans-serif;
    font-size: var( --e-global-typography-521670e-font-size);
    font-weight: var( --e-global-typography-521670e-font-weight);
    line-height: var( --e-global-typography-521670e-line-height);
    letter-spacing: var( --e-global-typography-521670e-letter-spacing);
    word-spacing: var( --e-global-typography-521670e-word-spacing);
    fill: var( --e-global-color-831b650);
    color: var( --e-global-color-831b650);
    background-color: #FFFFFF;
    padding: 0px 0px 25px 0px;
}

.elementor-59 .elementor-element.elementor-element-768ed2ee .elementor-button:hover,
.elementor-59 .elementor-element.elementor-element-768ed2ee .elementor-button:focus {
    color: var( --e-global-color-primary);
}

.elementor-59 .elementor-element.elementor-element-768ed2ee .elementor-button:hover svg,
.elementor-59 .elementor-element.elementor-element-768ed2ee .elementor-button:focus svg {
    fill: var( --e-global-color-primary);
}

.elementor-59 .elementor-element.elementor-element-768ed2ee>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-59 .elementor-element.elementor-element-5f25fe9e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 30px 0px 30px;
    }
    .elementor-59 .elementor-element.elementor-element-614e9446>.elementor-widget-container {
        padding: 0px 20px 0px 20px;
    }
    .elementor-59 .elementor-element.elementor-element-1f65fd8c .elementor-button {
        font-size: var( --e-global-typography-521670e-font-size);
        line-height: var( --e-global-typography-521670e-line-height);
        letter-spacing: var( --e-global-typography-521670e-letter-spacing);
        word-spacing: var( --e-global-typography-521670e-word-spacing);
    }
    .elementor-59 .elementor-element.elementor-element-39b9c40c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 30px 0px 30px;
    }
    .elementor-59 .elementor-element.elementor-element-6d9651cd>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
    }
    .elementor-59 .elementor-element.elementor-element-4a7e8076 .elementor-button {
        font-size: var( --e-global-typography-521670e-font-size);
        line-height: var( --e-global-typography-521670e-line-height);
        letter-spacing: var( --e-global-typography-521670e-letter-spacing);
        word-spacing: var( --e-global-typography-521670e-word-spacing);
    }
    .elementor-59 .elementor-element.elementor-element-1adceb22>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
    }
    .elementor-59 .elementor-element.elementor-element-71012e46>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
    }
    .elementor-59 .elementor-element.elementor-element-768ed2ee .elementor-button {
        font-size: var( --e-global-typography-521670e-font-size);
        line-height: var( --e-global-typography-521670e-line-height);
        letter-spacing: var( --e-global-typography-521670e-letter-spacing);
        word-spacing: var( --e-global-typography-521670e-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-59 .elementor-element.elementor-element-26be5de1>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-59 .elementor-element.elementor-element-5f25fe9e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-59 .elementor-element.elementor-element-1f65fd8c .elementor-button {
        font-size: var( --e-global-typography-521670e-font-size);
        line-height: var( --e-global-typography-521670e-line-height);
        letter-spacing: var( --e-global-typography-521670e-letter-spacing);
        word-spacing: var( --e-global-typography-521670e-word-spacing);
    }
    .elementor-59 .elementor-element.elementor-element-5fc37cc>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-59 .elementor-element.elementor-element-39b9c40c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-59 .elementor-element.elementor-element-4a7e8076 .elementor-button {
        font-size: var( --e-global-typography-521670e-font-size);
        line-height: var( --e-global-typography-521670e-line-height);
        letter-spacing: var( --e-global-typography-521670e-letter-spacing);
        word-spacing: var( --e-global-typography-521670e-word-spacing);
    }
    .elementor-59 .elementor-element.elementor-element-47bb241b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-59 .elementor-element.elementor-element-1adceb22>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-59 .elementor-element.elementor-element-768ed2ee .elementor-button {
        font-size: var( --e-global-typography-521670e-font-size);
        line-height: var( --e-global-typography-521670e-line-height);
        letter-spacing: var( --e-global-typography-521670e-letter-spacing);
        word-spacing: var( --e-global-typography-521670e-word-spacing);
    }
}