.elementor-215 .elementor-element.elementor-element-4e716fb>.elementor-container {
    max-width: 1200px;
}

.elementor-215 .elementor-element.elementor-element-4e716fb:not(.elementor-motion-effects-element-type-background),
.elementor-215 .elementor-element.elementor-element-4e716fb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-4e716fb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-215 .elementor-element.elementor-element-4e716fb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-10414b2c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-10414b2c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-10414b2c .elementor-element-populated a:hover {
    color: var( --e-global-color-secondary);
}

.elementor-215 .elementor-element.elementor-element-b19709 .elementor-heading-title {
    color: #FFFFFF;
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-215 .elementor-element.elementor-element-b19709>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-215 .elementor-element.elementor-element-b19709 {
    width: auto;
    max-width: auto;
}

.elementor-215 .elementor-element.elementor-element-2f3ce636 .elementor-heading-title {
    color: #FFFFFF;
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-215 .elementor-element.elementor-element-2f3ce636>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-215 .elementor-element.elementor-element-2f3ce636 {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-21d12ac0.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-21d12ac0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-21d12ac0 .elementor-element-populated a:hover {
    color: var( --e-global-color-secondary);
}

.elementor-215 .elementor-element.elementor-element-28fed696 .elementor-heading-title {
    color: #FFFFFF;
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    line-height: var( --e-global-typography-accent-line-height);
}

.elementor-215 .elementor-element.elementor-element-28fed696>.elementor-widget-container {
    padding: 2px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-56c47ba9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-56c47ba9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-56c47ba9>.elementor-element-populated {
    padding: 0px 10px 0px 0px;
}

.elementor-215 .elementor-element.elementor-element-da9a944 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 10px;
}

.elementor-215 .elementor-element.elementor-element-da9a944 .elementor-widget-container {
    text-align: right;
}

.elementor-215 .elementor-element.elementor-element-da9a944 .elementor-social-icon {
    background-color: #FFFFFF;
    --icon-padding: 0.5em;
}

.elementor-215 .elementor-element.elementor-element-da9a944 .elementor-social-icon i {
    color: #353B53;
}

.elementor-215 .elementor-element.elementor-element-da9a944 .elementor-social-icon svg {
    fill: #353B53;
}

.elementor-215 .elementor-element.elementor-element-da9a944 .elementor-social-icon:hover {
    background-color: var( --e-global-color-secondary);
}

.elementor-215 .elementor-element.elementor-element-3a8b9c05>.elementor-container {
    max-width: 1200px;
}

.elementor-215 .elementor-element.elementor-element-3a8b9c05 {
    z-index: 10;
}

.elementor-215 .elementor-element.elementor-element-27b6a4f:not(.elementor-motion-effects-element-type-background),
.elementor-215 .elementor-element.elementor-element-27b6a4f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-215 .elementor-element.elementor-element-27b6a4f,
.elementor-215 .elementor-element.elementor-element-27b6a4f>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-215 .elementor-element.elementor-element-27b6a4f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 20px 15px 20px;
}

.elementor-215 .elementor-element.elementor-element-27b6a4f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-75f1262e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-75f1262e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-75f1262e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-215 .elementor-element.elementor-element-7d2a94dd {
    text-align: left;
}

.elementor-215 .elementor-element.elementor-element-7d2a94dd img {
    width: 160px;
}

.elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-1896d500.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-1896d500.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-1896d500>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li>a {
    font-family: var( --e-global-typography-c1581d1-font-family), Sans-serif;
    font-size: var( --e-global-typography-c1581d1-font-size);
    font-weight: var( --e-global-typography-c1581d1-font-weight);
    line-height: var( --e-global-typography-c1581d1-line-height);
    letter-spacing: var( --e-global-typography-c1581d1-letter-spacing);
    word-spacing: var( --e-global-typography-c1581d1-word-spacing);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li>a:hover {
    color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf_link_effect_underline .mainnav .menu-container>ul>li>a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf_link_effect_overline .mainnav .menu-container>ul>li>a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf_link_effect_double-line .mainnav .menu-container>ul>li>a:before {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf_link_effect_double-line .mainnav .menu-container>ul>li>a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li.current-menu-ancestor>a {
    color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li.current-menu-item>a {
    color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf_link_effect_underline .mainnav .menu-container>ul>li.current-menu-ancestor>a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf_link_effect_overline .mainnav .menu-container>ul>li.current-menu-ancestor>a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf_link_effect_double-line .mainnav .menu-container>ul>li.current-menu-ancestor>a:before {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf_link_effect_double-line .mainnav .menu-container>ul>li.current-menu-ancestor>a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul li ul.sub-menu li {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li ul.sub-menu {
    min-width: 250px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li>ul.sub-menu {
    top: 65px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul li ul.sub-menu li a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li ul.sub-menu li:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #f5f5f5;
    border-bottom-width: 1px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li ul.sub-menu li:first-child {
    border-top-style: none;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li ul.sub-menu li:last-child {
    border-bottom-style: none;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu {
    border-radius: 5px 5px 5px 5px;
    background-color: #FFFFFF;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu li:first-child {
    border-radius: 5px 5px 0px 0px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu li:last-child {
    border-radius: 0px 0px 5px 5px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu a {
    color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu.dropdown-style1 .mainnav .menu-container ul.sub-menu:after {
    background-color: #FFFFFF;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu a:hover {
    color: var( --e-global-color-secondary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu li:hover {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu li.current_page_item>a {
    color: var( --e-global-color-secondary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu>li.current-menu-item>a {
    color: var( --e-global-color-secondary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu li.current_page_item {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container ul.sub-menu>li.current-menu-item {
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .btn-menu-mobile,
.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .btn-menu-only {
    padding: 8px 16px 8px 16px;
    margin: 0px 0px 0px 0px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .btn-menu-mobile:hover,
.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .btn-menu-only:hover {
    color: var( --e-global-color-primary);
    background-color: rgba(255, 255, 255, 0);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .tf-close {
    border-width: 3px;
    border-style: solid;
    border-radius: 0px;
    padding: 10px 12px 10px 12px;
    margin: 0px 0px 0px 0px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .close-menu-panel-style-default {
    border-width: 3px;
    border-style: solid;
    border-radius: 0px;
    padding: 10px 12px 10px 12px;
    margin: 0px 0px 0px 0px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .tf-close:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .close-menu-panel-style-default:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .nav-panel {
    background-color: #081E3C;
    padding: 0px 0px 0px 0px;
    width: 300px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mobile-menu-overlay {
    background-color: #000000E6;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .nav-panel .logo-nav {
    width: 200px;
    margin: 20px 0px 20px 20px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul li {
    border-top-style: solid;
    border-top-color: var( --e-global-color-aa18c2c);
    border-top-width: 1px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container>ul>li:last-child {
    border-bottom-style: solid;
    border-bottom-color: var( --e-global-color-aa18c2c);
    border-bottom-width: 1px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .nav-panel .mainnav-mobi ul li a {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul li a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul.sub-menu li a {
    padding-left: calc(20px + 10px);
    padding-right: calc(20px + 10px);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul.sub-menu ul.sub-menu li a {
    padding-left: calc(20px + 20px);
    padding-right: calc(20px + 20px);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .btn-submenu {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul li a,
.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .btn-submenu i {
    color: #ffffff;
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul li a:hover {
    color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul li.current_page_item>a {
    color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul li.current-menu-ancestor>a {
    color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav-mobi .menu-container ul li.current-menu-item>a {
    color: var( --e-global-color-primary);
}

.elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-195bcd8e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-195bcd8e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-195bcd8e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-215 .elementor-element.elementor-element-48e6bde2 .elementor-button:hover,
.elementor-215 .elementor-element.elementor-element-48e6bde2 .elementor-button:focus {
    color: #FFFFFF;
    background-color: var( --e-global-color-primary);
}

.elementor-215 .elementor-element.elementor-element-48e6bde2 .elementor-button:hover svg,
.elementor-215 .elementor-element.elementor-element-48e6bde2 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-215 .elementor-element.elementor-element-48e6bde2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-322d62f2.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-322d62f2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-215 .elementor-element.elementor-element-322d62f2>.elementor-element-populated {
    padding: 0px 0px 0px 25px;
}

.elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-215 .elementor-element.elementor-element-1ec065b8.elementor-position-right .elementor-image-box-img {
    margin-left: 10px;
}

.elementor-215 .elementor-element.elementor-element-1ec065b8.elementor-position-left .elementor-image-box-img {
    margin-right: 10px;
}

.elementor-215 .elementor-element.elementor-element-1ec065b8.elementor-position-top .elementor-image-box-img {
    margin-bottom: 10px;
}

.elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-title {
    margin-bottom: 1px;
    color: var( --e-global-color-831b650);
    font-family: var( --e-global-typography-0c54339-font-family), Sans-serif;
    font-size: var( --e-global-typography-0c54339-font-size);
    font-weight: var( --e-global-typography-0c54339-font-weight);
    line-height: var( --e-global-typography-0c54339-line-height);
    letter-spacing: var( --e-global-typography-0c54339-letter-spacing);
    word-spacing: var( --e-global-typography-0c54339-word-spacing);
}

.elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 40%;
}

.elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-description {
    color: #0D0D0D;
    font-family: var( --e-global-typography-623cd4b-font-family), Sans-serif;
    font-size: var( --e-global-typography-623cd4b-font-size);
    font-weight: var( --e-global-typography-623cd4b-font-weight);
    line-height: var( --e-global-typography-623cd4b-line-height);
    letter-spacing: var( --e-global-typography-623cd4b-letter-spacing);
    word-spacing: var( --e-global-typography-623cd4b-word-spacing);
}

@media(max-width:1024px) {
    .elementor-215 .elementor-element.elementor-element-4e716fb {
        padding: 1em 1em 1em 1em;
    }
    .elementor-215 .elementor-element.elementor-element-10414b2c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-b19709 .elementor-heading-title {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-215 .elementor-element.elementor-element-2f3ce636 .elementor-heading-title {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-21d12ac0.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-21d12ac0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-21d12ac0.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-215 .elementor-element.elementor-element-21d12ac0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-28fed696 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-215 .elementor-element.elementor-element-28fed696 {
        width: auto;
        max-width: auto;
    }
    .elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-56c47ba9.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-56c47ba9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-56c47ba9.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-215 .elementor-element.elementor-element-da9a944 .elementor-widget-container {
        text-align: center;
    }
    .elementor-215 .elementor-element.elementor-element-3a8b9c05 {
        padding: 0em 1em 0em 1em;
    }
    .elementor-215 .elementor-element.elementor-element-21c716f9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-27b6a4f {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 10px 10px 10px 10px;
    }
    .elementor-215 .elementor-element.elementor-element-75f1262e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-1896d500.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-1896d500.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-1896d500.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-215 .elementor-element.elementor-element-1896d500>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li>a {
        font-size: var( --e-global-typography-c1581d1-font-size);
        line-height: var( --e-global-typography-c1581d1-line-height);
        letter-spacing: var( --e-global-typography-c1581d1-letter-spacing);
        word-spacing: var( --e-global-typography-c1581d1-word-spacing);
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li>ul.sub-menu {
        top: 100%;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .btn-menu-mobile,
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .btn-menu-only {
        font-size: 25px;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .nav-panel {
        width: 300px;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .nav-panel .logo-nav {
        width: 200px;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 50px;
    }
    .elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-195bcd8e.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-195bcd8e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-195bcd8e.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-title {
        font-size: var( --e-global-typography-0c54339-font-size);
        line-height: var( --e-global-typography-0c54339-line-height);
        letter-spacing: var( --e-global-typography-0c54339-letter-spacing);
        word-spacing: var( --e-global-typography-0c54339-word-spacing);
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-description {
        font-size: var( --e-global-typography-623cd4b-font-size);
        line-height: var( --e-global-typography-623cd4b-line-height);
        letter-spacing: var( --e-global-typography-623cd4b-letter-spacing);
        word-spacing: var( --e-global-typography-623cd4b-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-215 .elementor-element.elementor-element-4e716fb {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-215 .elementor-element.elementor-element-10414b2c {
        width: 100%;
    }
    .elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-10414b2c.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-10414b2c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-10414b2c.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-215 .elementor-element.elementor-element-10414b2c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 05px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-b19709 .elementor-heading-title {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-215 .elementor-element.elementor-element-2f3ce636 .elementor-heading-title {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-215 .elementor-element.elementor-element-21d12ac0.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-215 .elementor-element.elementor-element-21d12ac0>.elementor-element-populated {
        padding: 0px 0px 05px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-28fed696 {
        text-align: center;
    }
    .elementor-215 .elementor-element.elementor-element-28fed696 .elementor-heading-title {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-215 .elementor-element.elementor-element-27b6a4f {
        padding: 20px 0px 0px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-75f1262e {
        width: 70%;
    }
    .elementor-215 .elementor-element.elementor-element-75f1262e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-1896d500 {
        width: 30%;
    }
    .elementor-215 .elementor-element.elementor-element-1896d500.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li>a {
        font-size: var( --e-global-typography-c1581d1-font-size);
        line-height: var( --e-global-typography-c1581d1-line-height);
        letter-spacing: var( --e-global-typography-c1581d1-letter-spacing);
        word-spacing: var( --e-global-typography-c1581d1-word-spacing);
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .mainnav .menu-container>ul>li>ul.sub-menu {
        top: 100%;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .nav-panel {
        width: 250px;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d .tf-nav-menu .nav-panel .logo-nav {
        width: 200px;
    }
    .elementor-215 .elementor-element.elementor-element-15fad8d>.elementor-widget-container {
        padding: 0px 0px 0px 55px;
    }
    .elementor-215 .elementor-element.elementor-element-195bcd8e {
        width: 100%;
    }
    .elementor-215 .elementor-element.elementor-element-195bcd8e>.elementor-element-populated {
        margin: 10px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-322d62f2 {
        width: 100%;
    }
    .elementor-bc-flex-widget .elementor-215 .elementor-element.elementor-element-322d62f2.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-322d62f2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-215 .elementor-element.elementor-element-322d62f2.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-215 .elementor-element.elementor-element-322d62f2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 20px 0px 20px 0px;
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-img {
        margin-bottom: 0px;
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8.elementor-position-right .elementor-image-box-img {
        margin-left: 0px;
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8.elementor-position-left .elementor-image-box-img {
        margin-right: 0px;
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8.elementor-position-top .elementor-image-box-img {
        margin-bottom: 0px;
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-title {
        font-size: var( --e-global-typography-0c54339-font-size);
        line-height: var( --e-global-typography-0c54339-line-height);
        letter-spacing: var( --e-global-typography-0c54339-letter-spacing);
        word-spacing: var( --e-global-typography-0c54339-word-spacing);
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8 .elementor-image-box-description {
        font-size: var( --e-global-typography-623cd4b-font-size);
        line-height: var( --e-global-typography-623cd4b-line-height);
        letter-spacing: var( --e-global-typography-623cd4b-letter-spacing);
        word-spacing: var( --e-global-typography-623cd4b-word-spacing);
    }
    .elementor-215 .elementor-element.elementor-element-1ec065b8>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-215 .elementor-element.elementor-element-10414b2c {
        width: 32.583%;
    }
    .elementor-215 .elementor-element.elementor-element-21d12ac0 {
        width: 33.637%;
    }
    .elementor-215 .elementor-element.elementor-element-75f1262e {
        width: 19.85%;
    }
    .elementor-215 .elementor-element.elementor-element-1896d500 {
        width: 46.029%;
    }
    .elementor-215 .elementor-element.elementor-element-195bcd8e {
        width: 15.382%;
    }
    .elementor-215 .elementor-element.elementor-element-322d62f2 {
        width: 18.706%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-215 .elementor-element.elementor-element-10414b2c {
        width: 55%;
    }
    .elementor-215 .elementor-element.elementor-element-21d12ac0 {
        width: 45%;
    }
    .elementor-215 .elementor-element.elementor-element-56c47ba9 {
        width: 24%;
    }
    .elementor-215 .elementor-element.elementor-element-75f1262e {
        width: 88%;
    }
    .elementor-215 .elementor-element.elementor-element-1896d500 {
        width: 12%;
    }
    .elementor-215 .elementor-element.elementor-element-195bcd8e {
        width: 24%;
    }
    .elementor-215 .elementor-element.elementor-element-322d62f2 {
        width: 29%;
    }
}